<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RESTAPITestCases.testCase1"/>
      <class name="SoapUITestCases.testRunner3"/>
      <class name="SoapUITestCases.testCase2"/>
      <class name="RESTAPITestCases.RestAPITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
